<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ContactMapper">
	<select id="showContact"
		resultType="com.example.app.domain.ContactData">
		SELECT * FROM pet_care_db.contact
	</select>
	<select id="showContactForPet"
		resultType="com.example.app.domain.ContactData">
SELECT *
	FROM pet_care_db.contact
	JOIN
	pet_care_db.contact_type
	ON contact.contact_type =
	contact_type.contact_type_id
	JOIN
	pet_care_db.pet_contact
	ON contact.contact_id =
	pet_contact.contact_id
	WHERE pet_id = #{petId}
	</select>
</mapper>