@charset "UTF-8";

body {
	background-color: rgb(229, 216, 178);
}

.sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -250px;
	transition: 0.3s;
	background-color: rgb(209, 174, 119);
	color: rgb(149, 114, 117);
	z-index: 9;
}

.openbtn {
	font-size: 19px;
	width: 35px;
	background-color: rgb(209, 174, 119);
	border-radius: 5%;
	border-color: rgb(209, 174, 119);
	color: rgb(141, 106, 105);
	font-weight: bold;
	font-family: 'arial-black';
}

.openbtn:hover {
	background-color: rgb(164, 142, 119);
	width: 45px;
	transition: 0.3s;
	color: white;
}

#sidebar-menu button {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	z-index: 7;
}

.closebtn {
	font-size: 20px;
	cursor: pointer;
	border-radius: 30%;
	background-color: rgb(149, 114, 117);
	margin-left: 200px;
	margin-top: 20px;
	color: white;
}

.closebtn:hover {
	color: black;
	transition: 0.3s;
}

#sidebar-menu {
	position: fixed;
	top: 50px;
	display: grid;
	align-content: center;
	justify-content: start;
	align-items: center;
	border-radius: 5%;
	z-index: 9;
}

#main {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 80%;
	height: auto;
	background-color: rgb(234, 198, 170);
}

.d-block {
	width: 80%;
	padding-left: 20%;
	margin-top: 5%;
}

.d-block-image {
	height: 500px;
}

.previous-image {
	height: 300px;
	width: auto;
	opacity: 60%;
}

.sidebar {
	text-align: center;
	font-weight: bold;
}

.carousel-caption {
	background-color: rgba(141, 106, 105, 0.6);
	border-radius: 10px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.inventory-list h2{
	text-align:center;
}
.inventory-list table{
	width:80%;
	margin:auto;
}
.inventory-list tbody:nth-child(odd) ,.inventory-list th{
	background-color: rgb(209, 174, 119);
}