<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<th:block  class="error">	<!-- th:if="${session.userLogin}" -->
	<form action="/loginCheck" method="post" th:object="${user}">
		<p>LoginId</p>
		<input type="text" th:field="*{userLogin}" />
		<span th:errors="*{userLogin}" class="error"></span>
		<p>LoginPass</p>
		<input type="text" th:field="*{userPassword}" />
		<span th:errors="*{userPassword}" class="error"></span>
		<br />
		<input type="submit" />
	</form>
	</th:block>

</body>

</html>
