<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}" />

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div id="sidebar-menu">
		<div id="sidebar-pet" class="sidebar">
			<button class="closebtn" onclick="closeNav('pet')">X</button>
			<img src="/images/icon/paw.png" alt="" width="30px" height="30px" />
			<h4>ペットメニュー</h4>
			<form action="updateInventory" method="post">
				<table>
					<div th:block th:object="${selectedInventoryData}">
						<input type="hidden" class="inventoryIdInput" name="inventoryIdInput"
							th:field="*{inventoryId}" />
						<tr>
							<td>
								<p>アイテム属性</p>
								<input type="text" class="inventoryTypeNameInput" th:field="*{inventoryTypeName}" />
							</td>
						</tr>
						<tr>
							<td>
								<p>アイテム名</p>
								<input type="text" class="inventoryNameInput" th:field="*{inventoryName}" />
							</td>
						</tr>
						<tr>
							<td>
								<p>個数</p>
								<input type="number" class="inventoryAmountInput" th:field="*{inventoryAmount}" />
							</td>
						</tr>
						<tr>
							<td>
								<p>値段 </p>
								<input type="number" class="inventoryPriceInput" th:field="*{inventoryPrice}" />
							</td>
						</tr>
						<tr th:each="pet : ${petList}">
							<td>
								<input type="checkbox" th:id="'pet-' + ${pet.petName}" th:name="petIdList"
									th:value="${pet.petId}" />
								<label th:for="'pet-' + ${pet.petName}" th:text="${pet.petName}"></label>
							</td>
						</tr>
					</div>
				</table>
				<input type="submit" value="更新" />
			</form>
		</div>
		<button id="openbtn-inventory" class="openbtn" onclick="openNav('inventory')">
			<img src="/images/icon/bone.png" alt="" width="30px" height="30px" />在庫メニュー　</button>
		<div id="sidebar-inventory" class="sidebar">
			<button class="closebtn" onclick="closeNav('inventory')">X</button>
			<img src="/images/icon/bone.png" alt="" width="30px" height="30px" />

		</div>
		<button id="openbtn-contact" class="openbtn" onclick="openNav('contact')">
			<img src="/images/icon/tel.png" alt="" width="30px" height="30px" />連絡メニュー　</button>
		<div id="sidebar-contact" class="sidebar">
			<button class="closebtn" onclick="closeNav('contact')">X</button>
			<img src="/images/icon/tel.png" alt="" width="30px" height="30px" />
			<h4>連絡先メニュー</h4>
		</div>
	</div>
	<main>
		<a href="logout">ログアウト</a>
		<div id="petCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div th:each="petData, stat : ${petList}" class="carousel-item"
					th:classappend="${stat.first} ? 'active' : ''">
					<img th:src="@{'/images/' + ${petData.petPhoto}}" class="d-block d-block-image" alt="Pet Photo"
						th:attr="data-petid=${petData.petId}">

					<div class="carousel-caption d-none d-md-block">
						<h5 th:text="${petData.petName}"></h5>
						<p>Age: <span th:text="${petData.petAge}"></span></p>
						<p>Birthday: <span th:text="${#dates.format(petData.petBirthday,'yyyy/MM/dd')}"></span></p>
						<p>Status: <span th:text="${petData.statusName}"></span></p>
					</div>
				</div>
				<!-- ここにペットのグラフを挿入 -->
			</div>
			<!-- 前後のアイテムに切り替えるためのボタン -->
			<button class="carousel-control-prev" type="button" data-bs-target="#petCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#petCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</button>
		</div>
		<br />
		<div class="pet-scroll">
			<div th:each="petData, stat : ${petList}">
				<img th:src="@{'/images/' + ${petData.petPhoto}}" class="${petData.petId}"
					th:attr="data-petid=${petData.petId}" width="150px" height="150px">
			</div>
		</div>
		<br />
		<!-- ペットのアイテム・コンタクトデータ表示エリア -->
		<div th:each="petData : ${petList}" class="inventory-list list" th:id="'inventory-list-' + ${petData.petId}">
			<h2 th:text="${petData.petName}+'　アイテムリスト'" class="contents-header"></h2>
			<br />
			<table>
				<thead>
					<tr>
						<th>内容</th>
						<th>商品名</th>
						<th>在庫数</th>
						<th>製品価格</th>
						<th></th>
					</tr>
				</thead>
				<tbody th:each="inventory : ${petInventoryMap[petData.petId]}">
					<tr>
						<td>
							<input type="hidden" class="inventoryId" th:value="${inventory.inventoryId}" />
							<span th:text="${inventory.inventoryTypeName}" class="inventoryTypeName"></span>
						</td>
						<td>
							<span th:text="${inventory.inventoryName}" class="inventoryName"></span>
						</td>
						<td>
							<span th:text="${inventory.inventoryAmount}" class="inventoryAmount"></span>
						</td>
						<td>
							<span th:text="${inventory.inventoryPrice}" class="inventoryPrice"></span>
						</td>
						<td>
							<button id="openbtn-pet" class="openbtn" onclick="openNav('pet', event)">更新</button>
						</td>
					</tr>
				</tbody>
			</table>
			<br />
		</div>

		<br />
		<div th:each="petData:${petList}" class="contact-list list" th:id="'contact-list-' + ${petData.petId}">
			<h2 th:text="${petData.petName} + '　連絡先リスト'" class="contents-header"></h2>
			<br />
			<table>
				<thead>
					<tr>
						<th>ジャンル</th>
						<th>連絡先</th>
						<th>担当</th>
						<th>電話番号</th>
						<th>メールアドレス</th>
						<th>URL</th>
						<th></th>
					</tr>
				</thead>
				<tbody th:each="contact : ${petContactMap[petData.petId]}">
					<tr>
						<td th:text="${contact.contactTypeName}"></td>
						<td th:text="${contact.contactName}"></td>
						<td th:text="${contact.contactInCharge}"></td>
						<td th:text="${contact.contactTel}"></td>
						<td th:text="${contact.contactMail}"></td>
						<td th:text="${contact.contactUrl}"></td>
						<td>変更</td>
					</tr>
				</tbody>
				<td>追加</td>
			</table>
			<br />
		</div>
		<br />
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				window.openNav = function (menuType, event) {
					document.getElementById('sidebar-' + menuType).style.left = "0";
					var trElement = event.target.closest('tr');
					var inventoryId = trElement.querySelector('.inventoryId').getAttribute('value');
					document.querySelector('input.inventoryIdInput').value = inventoryId;
					console.log(inventoryId);
					$.ajax({
						url: '/getSelectedInventoryData',
						type: 'GET',
						data: {'selectedInventoryId': inventoryId},
						success: function (response) {
							document.querySelector('input.inventoryTypeNameInput').value = response.inventoryTypeName;
							document.querySelector('input.inventoryNameInput').value = response.inventoryName;
							document.querySelector('input.inventoryAmountInput').value = response.inventoryAmount;
							document.querySelector('input.inventoryPriceInput').value = response.inventoryPrice;
						}
					});

					$.ajax({
						url: '/getInventoryPetActiveList',
						type: 'GET',
						data: {'selectedInventoryId': inventoryId},
						success: function (response) {
							var inventoryPetActiveList = response;
							var checkboxes = document.querySelectorAll('input[type=checkbox]');
							console.log(checkboxes);
							console.log(inventoryPetActiveList);
							for (var i = 0; i < checkboxes.length; i++) {
								var petId = checkboxes[i].value; // valueを使用
								if (inventoryPetActiveList.hasOwnProperty(petId)) {
									checkboxes[i].checked = inventoryPetActiveList[petId];
								}
							}
						}
					});
				}

				window.closeNav = function (menuType) {
					document.getElementById('sidebar-' + menuType).style.left = "-250px";
				};

				var checkboxes = document.querySelectorAll('input[type=checkbox]');
				for (var i = 0; i < checkboxes.length; i++) {
					checkboxes[i].addEventListener('change', function () {
						if (this.id === 'pet-All') {
							for (var j = 0; j < checkboxes.length; j++) {
								checkboxes[j].checked = this.checked;
							}
						} else if (!this.checked) {
							document.getElementById('pet-All').checked = false;
						}
					});
				}
			});
		</script>
		</script>
		<script>
			window.onload = function () {
				const petCarousel = document.getElementById('petCarousel');
				const carousel = new bootstrap.Carousel(petCarousel, {
					interval: false,
					ride: false
				});

				const carouselItems = petCarousel.querySelectorAll('.carousel-item');
				const petImages = document.querySelectorAll('.pet-scroll img');

				function logImageId(imageElement) {
					const petId = imageElement.getAttribute('data-petid');
					console.log('Pet ID:', petId);

					// Show the corresponding pet data in the Carousel
					$('.carousel-item.active').removeClass('active');
					$('.carousel-item').each(function () {
						if ($(this).find('img').data('petid') == petId) {
							$(this).addClass('active');
						}
					});

					// Show the corresponding pet data in the list
					$('.inventory-list').hide();
					$('#inventory-list-' + petId).show();
					$('.contact-list').hide();
					$('#contact-list-' + petId).show();
				}

				petImages.forEach(function (imageElement) {
					imageElement.addEventListener('click', function () {
						logImageId(imageElement);
					});
				});

				const carouselPrevButton = document.querySelector('.carousel-control-prev');
				const carouselNextButton = document.querySelector('.carousel-control-next');

				carouselPrevButton.addEventListener('click', function () {
					$(petCarousel).on('slid.bs.carousel', function () {
						const activeImage = petCarousel.querySelector('.carousel-item.active img');
						logImageId(activeImage);
						$(petCarousel).off('slid.bs.carousel');
					});
				});

				carouselNextButton.addEventListener('click', function () {
					$(petCarousel).on('slid.bs.carousel', function () {
						const activeImage = petCarousel.querySelector('.carousel-item.active img');
						logImageId(activeImage);
						$(petCarousel).off('slid.bs.carousel');
					});
				});
				// 最初にアクティブにしたいペットIDを設定します。
				const initialPetId = 0;

				// 対応するペットデータをカルーセルとリストで表示します。
				$('.carousel-item.active').removeClass('active');
				$('.carousel-item').each(function () {
					if ($(this).find('img').data('petid') == initialPetId) {
						$(this).addClass('active');
					}
				});
				$('.inventory-list').hide();
				$('#inventory-list-' + initialPetId).show();
				$('.contact-list').hide();
				$('#contact-list-' + initialPetId).show();
			};
		</script>
</body>

</html>