<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- カルーセルの外枠 -->
<div class="carousel">
  <!--  1枚目の画像  -->
  <img src="https://dummyimage.com/320x120/ff0000/ffffff&text=１">
  <!--  2枚目の画像  -->
  <img src="https://dummyimage.com/320x120/00ff00/ffffff&text=２">
  <!--  3枚目の画像  -->
  <img src="https://dummyimage.com/320x120/0000ff/ffffff&text=３">
  <!--  4枚目の画像  -->
  <img src="https://dummyimage.com/320x120/ff00ff/ffffff&text=４">  
  <!--  1枚目と同じ画像  -->
  <img src="https://dummyimage.com/320x120/ff0000/ffffff&text=１">
</div>

</body>
</html>